.github/**
.codex/**
.husky/**
.superpowers/**
docs/superpowers/**
.vscode/**
.superpowers/**
.gemini/**
src/**
scripts/**
logo.png
.releaserc.json
.nvmrc
commitlint.config.js
docs/**
.gitignore
out/**
node_modules/**
eslint.config.mjs
esbuild.mjs
tsconfig.json
**/*.map
**/*.test.*
*.vsix
